body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
    background-image: url(https://i1.wp.com/s1.artquid.fr/art/1/143/102169.1675094494.1.450.jpg);
    background-repeat: no-repeat;
  }
  .error {
    color: red;
  }

  h1 {
    color: black;
    margin-bottom: 20px;
    padding-left: 7px;
  }  

  #enter {
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color:brown;
    margin: 100px auto auto auto;
    padding: 20px 30px 20px 45px;
  }

  #new
  {
    font-family:'Wendy One', sans-serif;
    color: whitesmoke;
  }